@using EventBox.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Thông tin người dùng";
    var UserDetail = (UserDetail)ViewData["UserDetail"];
}

<!DOCTYPE html>
<html>
<head>
    <meta name="generator"
          content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src=@Url.Content("~/Scripts/modernizr.js") type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/normalize.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/styles.css") />
    <title>User Details</title>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@UserDetail.Username</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="@UserDetail.Image" class="img-circle img-responsive"> </div>


                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>

                                        <tr>
                                            <td>Username: </td>
                                            <td>@UserDetail.Username</td>
                                        </tr>
                                        <tr>
                                            <td>Address: </td>
                                            <td>@UserDetail.Address</td>
                                        </tr>

                                        <tr>

                                            <td>Số điện thoại: </td>
                                            <td>@UserDetail.Phone</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><a href="mailto:@UserDetail.Email">@UserDetail.Email</a></td>
                                        </tr>
                                        <tr>
                                            <td>Sở thích:</td>
                                            <td>
                                                @foreach (var item in UserDetail.Categories)
                                                {
                                                    <h5>item  </h5>
                                                }
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </div>
                    @if (UserDetail.ID == Convert.ToInt32(Session["CurrentUserID"]))
                    {
                        <form method="get" action="/EventBox/Users/Update">
                            <input type="hidden" name="id" value="@UserDetail.ID" />
                            <input type="hidden" name="username" value="@UserDetail.Username" />
                            <input type="hidden" name="email" value="@UserDetail.Email" />
                            <input type="hidden" name="address" value="@UserDetail.Address" />
                            <input type="hidden" name="phone" value="@UserDetail.Phone" />
                            <input type="hidden" name="image" value="@UserDetail.Image" />
                            <button>Cập nhật thông tin</button>
                        </form>
                        <form method="get" action="/EventBox/Users/ChangePassword">
                            <button>Đổi mật khẩu</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>

</body>
</html>
