@using EventBox.Models;

@{
    @ViewBag.Title = "Thông tin sự kiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var EventDetail = (EventDetail)ViewData["EventDetail"];
    var JoinedUsers = (List<User>)ViewData["Users"];
    var CreatedUsers = (User)ViewData["CreatedUser"];
    string disabled = "disabled";
    var joined = false;
    if (Session["CurrentUserID"] != null || Convert.ToString(Session["CurrentUserID"]) != string.Empty)
    {
        disabled = "";
    }

    foreach (var user in JoinedUsers)
    {
        if (Convert.ToInt32(Session["CurrentUserID"]) == user.ID)
        {
            joined = true;
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="generator"
          content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src=@Url.Content("~/Scripts/modernizr.js") type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/normalize.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/styles.css") />
</head>
<body>
    <div class="product clear">
        <header>
            <hgroup>
                <h1>@EventDetail.Name</h1>
            </hgroup>
        </header>

        <figure>
            <img src="@EventDetail.Image" />
        </figure>
        <h3>Số người tham gia : @JoinedUsers.Count()</h3>
        <h3>Người tạo sự kiện : @CreatedUsers.Username</h3>
        <section>

            <details>
                <summary>Xem chi tiết...</summary>
                <p>
                    @EventDetail.Info
                </p>
                <p>
                    Thời gian: @EventDetail.Time
                </p>
                <p>
                    Địa điểm: @EventDetail.Place
                </p>
                @if (EventDetail.MaxAttendance != null)
                {
                    <p>
                        Số người tối đa: @EventDetail.MaxAttendance
                    </p>
                }
                @if (EventDetail.RequireAttendance != null)
                {
                    <p>
                        Số người yêu cầu: @EventDetail.RequireAttendance
                    </p>
                }
                @if (EventDetail.Price != null)
                {
                    <p>
                        Giá: @EventDetail.Price
                    </p>
                }
            </details>
            @if (CreatedUsers.ID != Convert.ToInt32(Session["CurrentUserID"]) && !joined)
            {
                <form action="/EventBox/Events/Join">
                    <input type="hidden" name="id" value="@EventDetail.ID" />
                    <button @disabled>Tham gia ngay</button>
                </form>
            }
            else
            {
                <h3>Bạn đã tham gia sự kiện</h3>
            }
            @if (CreatedUsers.ID != Convert.ToInt32(Session["CurrentUserID"]) && joined)
            {
                <form action="/EventBox/Events/Leave">
                    <input type="hidden" name="id" value="@EventDetail.ID" />
                    <button>Rời sự kiện</button>
                </form>
            }
            @if (Session["CurrentUserID"] != null || Convert.ToString(Session["CurrentUserID"]) != string.Empty)
            {
                if (CreatedUsers.ID == Convert.ToInt32(Session["CurrentUserID"]))
                {
                    <form method="get" action="/EventBox/Events/Update">
                        <input type="hidden" name="id" value="@EventDetail.ID" />
                        <input type="hidden" name="name" value="@EventDetail.Name" />
                        <input type="hidden" name="info" value="@EventDetail.Info" />
                        <input type="hidden" name="time" value="@EventDetail.Time" />
                        <input type="hidden" name="place" value="@EventDetail.Place" />
                        <input type="hidden" name="maxAttendance" value="@EventDetail.MaxAttendance" />
                        <input type="hidden" name="requireAttendance" value="@EventDetail.RequireAttendance" />
                        <input type="hidden" name="price" value="@EventDetail.Price" />
                        <input type="hidden" name="image" value="@EventDetail.Image" />
                        <button>Cập nhật sự kiện</button>
                    </form>
                    <form method="get" action="/EventBox/Events/Delete">
                        <input type="hidden" name="id" value="@EventDetail.ID" />
                        <button>Xóa sự kiện</button>
                    </form>
                }
            }
        </section>
    </div>




</body>
</html>
